models/** filter=lfs diff=lfs merge=lfs -text
models/yolov8s_rdd2022_2_fine_tuned/weights/** filter=lfs diff=lfs merge=lfs -text
models/yolov8n8_rdd2022_2class5/weights/** filter=lfs diff=lfs merge=lfs -text
models/yolov8n8_rdd2022_2class_256/weights/** filter=lfs diff=lfs merge=lfs -text
