numpy
opencv-python
Pillow
matplotlib
tqdm

scikit-learn
pandas>=1.5

pyyaml
lxml
absl-py
protobuf==3.20.3

opencv-python-headless
albumentations

rich
jupyterlab
ipython
seaborn

ultralytics

torch
torchvision
torchaudio

tensorflow<2.19
tf-keras<2.19

onnx==1.15.0
onnx2tf
onnx-graphsurgeon
sng4onnx
flatbuffers


